.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    border: solid white 3px;
    border-radius: 20%;
    font-weight: bold;
}

p{
    margin:0px;
    padding: 0px;
}

.timer-label{
    font-size: 2em;
}

.time-left{
    font-size:3em;
}