#pomodoro-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr 2fr 1fr;
    grid-template-areas: "header header"
                         "controls controls"
                         "display display"
                         "buttons buttons";  
    align-items: center;                   
    width:480px;
    height: 400px;
    border-radius: 10%;
    color: white;

}

 .pomodoro-header{
    width: 100%;
    grid-area: header;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

 .pomodoro-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: controls;

}

 .pomodoro-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: display;
}

 .pomodoro-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: auto;
    grid-area: buttons;
}

.pomodoro-buttons button{
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0px 10px;
    height: 100%;
}

.pomodoro-buttons i{
     color: white;   
}

@media only screen and (max-width: 480px){
    .pomodoro-controls{
        flex-direction: column;
        font-size: .75em;
    }
}