.timer-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.timer-header{
    font-weight: bold;
}

.timer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
}

.timer-buttons button{
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0px 10px;
    height: 100%;
}

.timer-buttons i{
    color:white;
}