body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #E05454;
}

#root{
  display: flex;
  flex-direction: row;
}

.signature{
  color: black;
  font-size: 20px;
  font-weight: bolder;
}